@page
@model DotnetDocs.Website.Pages.EFCore_With_UserModel

<p>
    Here lies the documentation explaining the process of setting up a .net core web application with users. 

    This focuses on having your database in a seperate .net project that is seperated from your actual web application. 
</p>

<h3>Creating a new web app</h3>
<p>
    It is generally recommended to have your database related logic seperated from your web application project. 
    This helps in seperation, reusability and testable.
</p>

<h3>Setting up entity framework</h3>

<p>
    Run your migrations here
</p>


<h3>Using the user manager</h3>
<p>
    
</p>



